betty-kmaster1.yaml
betty-kmaster2.yaml
betty-kmaster3.yaml
betty-kworker1.yaml
betty-kworker2.yaml
betty-kworker3.yaml
talosconfig
betty-kmaster1.idahobealefamily.com.yaml
betty-kmaster2.idahobealefamily.com.yaml
betty-kmaster3.idahobealefamily.com.yaml
betty-kworker1.idahobealefamily.com.yaml
betty-kworker2.idahobealefamily.com.yaml
betty-kworker3.idahobealefamily.com.yaml
