---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kured
  namespace: kube-system
spec:
  interval: 15m
  chart:
    spec:
      chart: kured
      version: 4.4.2
      sourceRef:
        kind: HelmRepository
        name: kubereboot
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
      remediateLastFailure: true
    cleanupOnFail: true
  rollback:
    timeout: 10m
    recreate: true
    cleanupOnFail: true
  values:
    configuration:
      startTime: "10pm"
      endTime: "2am"
      logFormat: "json"
      timeZone: "${TIMEZONE}"
      rebootSentinelCommand: |-
        sh -c "! needs-restarting --reboothint"
