---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      *app :
        pod:
          annotations:
            reloader.stakater.com/auto: "true"

        initContainers:
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.0@sha256:6b54856716d0de56e5bb00a77029b0adea57284cf5a466f23aad5979257d3045

            env:
              DOT: off
              VPN_INTERFACE: wg0
              VPN_TYPE: wireguard
              VPN_PORT_FORWARDING: on
              FIREWALL_OUTBOUND_SUBNETS: 10.43.0.0/16,10.42.0.0/16 # Allow access to k8s subnets
              FIREWALL_INPUT_PORTS: "8080,9999"
              HEALTH_SERVER_ADDRESS: ":9999"
              TZ: America/Boise

            envFrom:
              - secretRef:
                  name: vpnconfig

            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  exec: &exec
                    command: [/gluetun-entrypoint, healthcheck]
                  periodSeconds: 60
              startup:
                <<: *probe
                spec:
                  exec: *exec
                  periodSeconds: 3

            lifecycle:
              postStart:
                exec:
                  command:
                    - /bin/sh
                    - -c
                    - (ip rule del table 51820; ip -6 rule del table 51820) || true

            resources:
              requests:
                cpu: 10m
                memory: 128Mi
                squat.ai/tun: "1"
              limits:
                memory: 512Mi
                squat.ai/tun: "1"

            restartPolicy: Always

            securityContext:
              privileged: true
              runAsUser: 0
              runAsGroup: 0
              capabilities:
                add:
                  - NET_RAW
                  - NET_ADMIN
                  - SYS_MODULE

        containers:
          *app :
            nameOverride: *app

            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:56ecd30a7f5e1357daf5eea2a6935134d329b7b268a3a9b9c67041b65fb87fc6

            env:
              TZ: America/Boise
              UMASK: "022"
              QBT_WEBUI_PORT: &port 8080
              QBT_TORRENTING_PORT: 51820
              QBT__Preferences__WebUI__AuthSubnetWhitelistEnabled: true
              QBT__Preferences__WebUI__AuthSubnetWhitelist: |-
                192.168.0.0/24, 192.168.20.0/24, 10.43.0.0/16, 10.42.0.0/16
              QBT__BitTorrent__Session__Interface: wg0
              QBT__BitTorrent__Session__InterfaceAddress: "0.0.0.0"
              QBT__BitTorrent__Session__InterfaceName: wg0
              QBT__Preferences__WebUI__AlternativeUIEnabled: true
              QBT__Preferences__WebUI__RootFolder: /add-ons/VueTorrent

            securityContext: &securityContext
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10

            resources:
              requests:
                cpu: 49m
                memory: 1024Mi
              limits:
                memory: 8192Mi

          vuetorrent:
            dependsOn: *app

            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.5.1@sha256:1df295fdab03031f932f2b7dae82fa19bd77334e2510c311bbdfc7e09ef49ece

            args:
              - --repo=https://github.com/WDaan/VueTorrent
              - --ref=latest-release
              - --period=86400s
              - --root=/add-ons

            resources:
              requests:
                cpu: 10m
                memory: 25Mi
              limits:
                memory: 50Mi

            securityContext: *securityContext

    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port

    route:
      *app :
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.idahobealefamily.com"

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          *app :
            *app :
              - path: /config

      media:
        type: nfs
        server: truenas.idahobealefamily.com
        path: /mnt/storage1/data
        advancedMounts:
          *app :
            *app :
              - path: /media

      tmpfs:
        type: emptyDir
        advancedMounts:
          *app :
            *app :
              - path: /add-ons
                subPath: add-ons
              - path: /tmp
                subPath: tmp
            vuetorrent:
              - path: /add-ons
                subPath: add-ons
              - path: /tmp
                subPath: tmp
