#shellcheck disable=SC2148,SC2155
export KUBECONFIG=$(expand_path ./infrastructure/talos/betty/kubeconfig)
export SOPS_AGE_KEY_FILE=$(expand_path ~/.config/sops/age/keys.txt)
export TALOSCONFIG=$(expand_path ./infrastructure/talos/betty/clusterconfig/talosconfig)
export GITHUB_TOKEN=$(sops --decrypt ./kubernetes/flux/vars/cluster-secrets.sops.yaml | yq '.stringData.GIT_BOOTSTRAP_PAT')
