# Trash
.DS_Store
Thumbs.db

# k8s
kubeconfig

# vscode-sops
.decrypted~*
.config.env
*.agekey
*.pub
*.key

# Terraform
## Local .terraform directories
**/.terraform/*

## .tfstate files
*.tfstate
*.tfstate.*

## terraform plan output
*tfplan*

# Talos clusterconfigs
infrastructure/talos/**/clusterconfig
infrastructure/talos/**/_out
