---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app seerr
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      *app :
        containers:
          *app :
            image:
              repository: ghcr.io/seerr-team/seerr
              tag: develop@sha256:faa17d5dd0adc4e0ec04f20a931579083a06abc495603f2fd21bd5b9d9e6a9e6

            env:
              TZ: America/Boise
              LOG_LEVEL: "info"
              PORT: &port 80

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - "ALL"

            resources:
              requests:
                cpu: 100m
              limits:
                memory: 1Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port

    route:
      *app :
        enabled: true
        parentRefs:
          - name: envoy-external
            namespace: networking
        hostnames:
          - "{{ .Release.Name }}.idahobealefamily.com"

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"

      media:
        type: nfs
        server: truenas.idahobealefamily.com
        path: /mnt/storage1/data
        globalMounts:
          - path: /media

      backup:
        type: nfs
        server: truenas.idahobealefamily.com
        path: /mnt/storage0/backup
        globalMounts:
          - path: /backup
            subPath: "{{ .Release.Name }}"

      tmpfs:
        type: emptyDir
        advancedMounts:
          *app :
            *app :
              - path: /config/logs
                subPath: logs
              - path: /tmp
                subPath: tmp
