---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app flaresolverr
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 0.2.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      repository: ghcr.io/flaresolverr/flaresolverr
      tag: v2.2.9@sha256:f87b57e28a156b650094a93dbfbd02b38224f39fd2a95667da77da9852a61123
      pullPolicy: IfNotPresent
    env:
      TZ: ${TIMEZONE}
    service:
      main:
        ports:
          http:
            port: 8191
    persistence:
      config:
        enabled: true
        existingClaim: flaresolverr-config-v1
        mountPath: /config
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 500Mi
