---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: k8s-gateway
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  test:
    enable: false
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
      remediateLastFailure: true
    cleanupOnFail: true
  rollback:
    timeout: 10m
    recreate: true
    cleanupOnFail: true
  values:
    image:
      repository: quay.io/oriedge/k8s_gateway
      tag: v0.3.3
      pullPolicy: IfNotPresent

    podAnnotations:
      configmap.reloader.stakater.com/reload: "k8s-gateway-config"

    args: ["-conf", "/etc/coredns/Corefile"]

    configMaps:
      config:
        enabled: true
        data:
          Corefile: |
            .:1053 {
              errors
              log
              health {
                lameduck 5s
              }
              ready

              k8s_gateway ${SECRET_DOMAIN} {
                apex  k8s-gateway.networking
                resources Ingress Service
                ttl 300
              }

              prometheus 0.0.0.0:9153
              loop
              reload
              loadbalance
            }
    serviceAccount:
      create: true
      name: k8s-gateway

    service:
      main:
        type: LoadBalancer
        externalTrafficPolicy: Local
        loadBalancerIP: "${SVC_K8S_GATEWAY_ADDRESS}"
        ports:
          http:
            enabled: false
          metrics:
            enabled: true
            port: 9153
          dns:
            enabled: true
            port: 53
            targetPort: 1053
            protocol: UDP

    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s

    persistence:
      config:
        enabled: true
        type: configMap
        name: k8s-gateway-config
        mountPath: /etc/coredns
        readOnly: true

    probes:
      readiness:
        custom: true
        spec:
          httpGet:
            path: /ready
            port: 8181
            scheme: HTTP
      liveness:
        custom: true
        spec:
          httpGet:
            path: /health
            port: 8080
            scheme: HTTP
      startup:
        custom: true
        spec:
          httpGet:
            path: /ready
            port: 8181
            scheme: HTTP

    resources: {}
