---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tautulli
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
          configmap.reloader.stakater.com/reload: cluster-settings

        containers:
          *app :
            image:
              repository: ghcr.io/home-operations/tautulli
              tag: 2.16.1@sha256:6983eea603ee230b189f2d32e7d7fc0bb94917df735a71ba20460c4991877645

            env:
              TZ: America/Boise
              TAUTULLI_HTTP_BASE_URL: "https://{{ .Release.Name }}.idahobealefamily.com"
              TAUTULLI_HTTP_PORT: &port 8181

            probes:
              liveness: &probes
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /status
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - "ALL"

            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port

    route:
      *app :
        enabled: true
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.idahobealefamily.com"
        rules:
          - backendRefs:
              - identifier: *app
                port: *port

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"

      tmpfs:
        type: emptyDir
        advancedMounts:
          *app :
            *app :
              - path: /config/logs
                subPath: logs
              - path: /tmp
                subPath: tmp
