---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
spec:
  chartRef:
    kind: OCIRepository
    name: cilium
  interval: 1h
  values:
    autoDirectNodeRoutes: true

    bgpControlPlane:
      enabled: true

    bpf:
      datapathMode: netkit
      masquerade: true
      preallocateMaps: true
      tproxy: true

    bpfClockProbe: true

    cgroup:
      autoMount:
        enabled: false
      hostRoot: /sys/fs/cgroup

    cni:
      exclusive: false

    Cluster:
      name: betty
      id: 0

    dashboards:
      enabled: true

    debug:
      enabled: false

    endpointRoutes:
      enabled: true

    envoy:
      enabled: false

    externalIPs:
      enabled: true

    gatewayAPI:
      enabled: false

    hubble:
      enabled: false

    ipam:
      mode: kubernetes

    ipv4NativeRoutingCIDR: 10.42.0.0/16

    kubeProxyReplacement: true

    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256

    k8sServiceHost: 127.0.0.1

    k8sServicePort: 7445

    l2announcements:
      enabled: false

    LoadBalancer:
      algorithm: meglev
      mode: dsr

    localRedirectPolicies:
      enabled: true

    operator:
      replicas: 2
      dashboards:
        enabled: true
      rollOutPods: true
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true

    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
        trustCRDsExist: true

    rollOutCiliumPods: true

    routingMode: native

    securityContext:
      capabilities:
        ciliumAgent:
          - CHOWN
          - KILL
          - NET_ADMIN
          - NET_RAW
          - IPC_LOCK
          - SYS_ADMIN
          - SYS_RESOURCE
          - PERFMON
          - BPF
          - DAC_OVERRIDE
          - FOWNER
          - SETGID
          - SETUID
        cleanCiliumState:
          - NET_ADMIN
          - SYS_ADMIN
          - SYS_RESOURCE
