---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app hajimari
  namespace: web-tools
spec:
  interval: 15m
  chart:
    spec:
      chart: hajimari
      version: 2.0.2
      sourceRef:
        kind: HelmRepository
        name: hajimari
        namespace: flux-system
      interval: 15m
  test:
    enable: false
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
      remediateLastFailure: true
    cleanupOnFail: true
  rollback:
    timeout: 10m
    recreate: true
    cleanupOnFail: true
  values:
    image:
      repository: ghcr.io/toboshii/hajimari
      tag: v0.3.1@sha256:2ee4cab12878fd0771092bf1b7e271f2715731d2ba60d92461f8010094cda994
    env:
      TZ: ${TIMEZONE}
    hajimari:
      name: Stephen
      defaultEnable: false
      title: *app
      lightTheme: gazette
      darkTheme: tron
      showGreeting: true
      showAppGroups: true
      defaultAppIcon: mdi:application
      alwaysTargetBlank: true
      defaultSearchProvider: Google
      namespaceSelector:
        matchNames:
          - media
          - downloads
          - web-tools
          - networking
          - monitoring
          - rook-ceph
          - kube-system
      searchProviders:
        - name: Google
          token: g
          icon: simple-icons:google
          searchUrl: https://www.google.com/search?q={query}
          url: https://www.google.com
        - name: DuckDuckGo
          token: d
          icon: simple-icons:duckduckgo
          searchUrl: https://duckduckgo.com/?q={query}
          url: https://duckduckgo.com
        - name: IMDB
          token: i
          icon: simple-icons:imdb
          searchUrl: https://www.imdb.com/find?q={query}
          url: https://www.imdb.com
        - name: Reddit
          token: r
          icon: simple-icons:reddit
          searchUrl: https://www.reddit.com/search?q={query}
          url: https://www.reddit.com
        - name: YouTube
          token: 'y'
          icon: simple-icons:youtube
          searchUrl: https://www.youtube.com/results?search_query={query}
          url: https://www.youtube.com
        - name: Spotify
          token: s
          icon: simple-icons:spotify
          searchUrl: hhttps://open.spotify.com/search/{query}
          url: https://open.spotify.com
      customApps:
        - name: Some External Cluster Service
          url: http://192.168.1.100:5000
          icon: test-tube
      globalBookmarks:
        - group: Communicate
          bookmarks:
            - name: Discord
              url: "https://discord.com"
            - name: Gmail
              url: "https://gmail.com"
            - name: Slack
              url: "https://slack.com/signin"
        - group: Cloud
          bookmarks:
            - name: Box
              url: "https://box.com"
            - name: Dropbox
              url: "https://dropbox.com"
            - name: Drive
              url: "https://drive.google.com"
        - group: Design
          bookmarks:
            - name: Awwwards
              url: "https://awwwards.com"
            - name: Dribbble
              url: "https://dribbble.com"
            - name: Muz.li
              url: "https://medium.muz.li/"
        - group: Dev
          bookmarks:
            - name: Codepen
              url: "https://codepen.io/"
            - name: Devdocs
              url: "https://devdocs.io"
            - name: Devhints
              url: "https://devhints.io"
        - group: Lifestyle
          bookmarks:
            - name: Design Milk
              url: "https://design-milk.com/category/interior-design/"
            - name: Dwell
              url: "https://www.dwell.com/"
            - name: Freshome
              url: "https://www.mymove.com/freshome/"
        - group: Media
          bookmarks:
            - name: Spotify
              url: "http://browse.spotify.com"
            - name: Trakt
              url: "http://trakt.tv"
            - name: YouTube
              url: "https://youtube.com/feed/subscriptions"
        - group: Reading
          bookmarks:
            - name: Instapaper
              url: "https://www.instapaper.com/u"
            - name: Medium
              url: "http://medium.com"
            - name: Reddit
              url: "http://reddit.com"
        - group: Tech
          bookmarks:
            - name: Hacker News
              url: "https://news.ycombinator.com/"
            - name: The Verge
              url: "https://theverge.com/"
            - name: MIT Technology Review
              url: "https://www.technologyreview.com/"
    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          cert-manager.io/cluster-issuer: ${CLUSTER_CERT}
          hajimari.io/enable: "true"
          hajimari.io/icon: "weather-sunset"
          nginx.ingress.kubernetes.io/whitelist-source-range: "10.0.0.0/8,172.16.0.0/12,192.168.0.0/16"
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - secretName: "{{ .Release.Name }}-tls"
            hosts:
              - *host
    persistence:
      data:
        enabled: true
        existingClaim: hajimari-config-v1
    podAnnotations:
      configmap.reloader.stakater.com/reload: "hajimari-settings"
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        memory: 256Mi
