---
# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json

radarr:
  radarr:
    base_url: http://radarr.media.svc.cluster.local:7878
    api_key: !env_var RADARR_APIKEY

    media_naming:
      folder: default
      movie:
        rename: true
        standard: plex-tmdb

    media_management:
      propers_and_repacks: do_not_prefer

    quality_profiles:
      - trash_id: 0896c29d74de619df168d23b98104b22

    custom_format_groups:
      add:
        - trash_id: d9cc9a504e5ede6294c8b973aad4f028 # [Streaming Services] General
