---
# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json

sonarr:
  sonarr:
    base_url: http://sonarr.media.svc.cluster.local:8989
    api_key: !env_var SONARR_APIKEY

    media_naming:
      series: default
      season: default
      episodes:
        rename: true
        standard: default
        daily: default
        anime: default

    media_management:
      propers_and_repacks: do_not_prefer

    delete_old_custom_formats: true

    quality_profiles:
      - trash_id: 72dae194fc92bf828f32cde7744e51a1  # WEB-1080p

    custom_format_groups:
      add:
        - trash_id: abe720fab2d27682adc2a735136cec02 # [Streaming Services] General
