---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: cilium
  namespace: kube-system
  annotations:
    meta.helm.sh/release-name: cilium
    meta.helm.sh/release-namespace: kube-system
  labels:
    app.kubernetes.io/managed-by: Helm
spec:
  interval: 5m
  chart:
    spec:
      chart: cilium
      version: 1.13.0
      sourceRef:
        kind: HelmRepository
        name: cilium
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
      remediateLastFailure: true
    cleanupOnFail: true
  rollback:
    timeout: 10m
    recreate: true
    cleanupOnFail: true
  values:
    image:
      repository: quay.io/cilium/cilium
      tag: v1.13.0
      pullPolicy: IfNotPresent

    kubeProxyReplacement: "strict"

    k8sServiceHost: 192.168.20.254
    k8sServicePort: 6443

    extraConfig:
      enable-envoy-config: "true"

    autoDirectNodeRoutes: true

    nodePort:
      enabled: true
      range: "30000,32767"

    containerRuntime:
      integration: containerd

    endpointRoutes:
      enabled: true

    localRedirectPolicy: true

    enableIPv4Masquerade: true

    enableIPv6Masquerade: true

    bpf:
      masquerade: true

    ipam:
      mode: "kubernetes"
      operator:
        clusterPoolIPv4PodCIDRList: ["10.42.0.0/16"]
        clusterPoolIPv4MaskSize: 24
        clusterPoolIPv6PodCIDRList: ["fd00::/104"]
        clusterPoolIPv6MaskSize: 120

    bgpControlPlane:
      enabled: false

    bgp:
      enabled: true
      announce:
        loadbalancerIP: true

    hubble:
      enabled: true
      metrics:
        enabled:
          - dns:query;ignoreAAAA
          - drop
          - tcp
          - flow
          - port-distribution
          - icmp
          - http
      listenAddress: ':4244'
      relay:
        enabled: true
        image:
          repository: quay.io/cilium/hubble-relay
          tag: v1.13.1
        rollOutPods: true
      ui:
        enabled: true
        rollOutPods: true
        ingress:
          enabled: true
          ingressClassName: "nginx"
          annotations:
            nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
            nginx.ingress.kubernetes.io/whitelist-source-range: "10.0.0.0/8,172.16.0.0/12,192.168.0.0/16"
            cert-manager.io/cluster-issuer: ${CLUSTER_CERT}
            hajimari.io/enable: "true"
            hajimari.io/appName: hubble
            hajimari.io/icon: lan
          hosts:
            - &host "hubble.${SECRET_DOMAIN}"
          tls:
            - secretName: "hubble-tls"
              hosts:
                - *host

    ipv6:
      enabled: false

    kubeProxyReplacementHealthzBindAddr: '0.0.0.0:10256'

    prometheus:
      enabled: true
      port: 9090
      serviceMonitor:
        enabled: false

    operator:
      rollOutPods: true
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: false

    ipv4NativeRoutingCIDR: 10.42.0.0/16

    tunnel: disabled

    LoadBalancer:
      algorithm: meglev
      mode: dsr

    disableEnvoyVersionCheck: false

    Cluster:
      name: ${CLUSTER_NAME}
      id: ${CLUSTER_ID}

    clustermesh:
      useAPIServer: false
      apiserver:
        image:
          repository: quay.io/cilium/clustermesh-apiserver
          tag: v1.13.0
        etcd:
          image:
            repository: quay.io/coreos/etcd
            tag: v3.5.7
            pullPolicy: IfNotPresent

    rollOutCiliumPods: true

    externalIPs:
      enabled: true

    hostPort:
      enabled: false

    hostServices:
      enabled: true
      protocols: tcp,udp

    debug:
      enabled: false

    securityContext:
      privileged: true
