---
apiVersion: v1
kind: Pod
metadata:
  name: disk-wipe-kworker1
  namespace: rook-ceph
spec:
  restartPolicy: Never
  nodeName: kworker1
  containers:
    - name: disk-wipe
      image: busybox@sha256:b3255e7dfbcd10cb367af0d409747d511aeb66dfac98cf30e97e87e4207dd76f
      securityContext:
        privileged: true
      command:
        [
          "/bin/sh",
          "-c",
          "blkdiscard /dev/nvme0n1",
          "dd if=/dev/zero bs=1M count=10000 oflag=direct of=/dev/nvme0n1",
        ]
      resources:
        requests:
          cpu: 10m
          memory: 250Mi
        limits:
          memory: 500Mi
          cpu: 20m
---
apiVersion: v1
kind: Pod
metadata:
  name: disk-wipe-kworker2
  namespace: rook-ceph
spec:
  restartPolicy: Never
  nodeName: kworker2
  containers:
    - name: disk-wipe
      image: busybox@sha256:b3255e7dfbcd10cb367af0d409747d511aeb66dfac98cf30e97e87e4207dd76f
      securityContext:
        privileged: true
      command:
        [
          "/bin/sh",
          "-c",
          "blkdiscard /dev/nvme0n1",
          "dd if=/dev/zero bs=1M count=10000 oflag=direct of=/dev/nvme0n1",
        ]
      resources:
        requests:
          cpu: 10m
          memory: 250Mi
        limits:
          memory: 500Mi
          cpu: 20m
---
apiVersion: v1
kind: Pod
metadata:
  name: disk-wipe-kworker3
  namespace: rook-ceph
spec:
  restartPolicy: Never
  nodeName: kworker3
  containers:
    - name: disk-wipe
      image: busybox@sha256:b3255e7dfbcd10cb367af0d409747d511aeb66dfac98cf30e97e87e4207dd76f
      securityContext:
        privileged: true
      command:
        [
          "/bin/sh",
          "-c",
          "blkdiscard /dev/nvme0n1",
          "dd if=/dev/zero bs=1M count=10000 oflag=direct of=/dev/nvme0n1",
        ]
      resources:
        requests:
          cpu: 10m
          memory: 250Mi
        limits:
          memory: 500Mi
          cpu: 20m
