---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app recyclarr-edge
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 1.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 5m
  test:
    enable: false
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
      remediateLastFailure: true
    cleanupOnFail: true
  rollback:
    timeout: 10m
    recreate: true
    cleanupOnFail: true
  values:
    image:
      repository: ghcr.io/recyclarr/recyclarr
      tag: edge@sha256:ce5d5ae3d4f3b0911fc3b1423673086a3c04de53990751cbe72f6e642f56d5fd

    env:
      TZ: ${TIMEZONE}
      CRON_SCHEDULE: "@daily"

    service:
      main:
        enabled: false

    persistence:
      config:
        enabled: true
        type: configMap
        name: recyclarr-edge
      secret:
        enabled: true
        type: secret
        name: recyclarr
        subPath: secret.yaml
        mountPath: /config/secret.yaml
        readOnly: true
