---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: #{ app_name }#
spec:
  {% if storage %}
  components:
    - ../../../../components/storage
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  {% endif %}
  interval: 1h
  path: #{ ["./kubernetes/apps", namespace, app_name, "app"] | join("/") }#
  postBuild:
    {% if storage %}
    substitute:
      APP: #{ app_name }#
      STORAGE_CAPACITY: 1Gi
    {% endif %}
    substituteFrom:
      - name: cluster-settings
        kind: ConfigMap
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
