---
- Media:
    - Sonarr:
        - Sonarr TV:
            href: https://sonarr.idahobealefamily.com
            icon: sonarr.png
            description: TV Shows
            widget:
              type: sonarr
              url: http://sonarr.media.svc.cluster.local.:8989
              key: ${SONARR_APIKEY}
        - Sonarr Anime:
            href: https://sonarranime.idahobealefamily.com
            icon: sonarr.png
            description: Anime
            widget:
              type: sonarr
              url: http://sonarranime.media.svc.cluster.local.:8989
              key: ${SONARR_ANIME_APIKEY}
        - Sonarr UHD:
            href: https://sonarruhd.idahobealefamily.com
            icon: sonarr.png
            description: UHD TV Shows
            widget:
              type: sonarr
              url: http://sonarruhd.media.svc.cluster.local.:8989
              key: ${SONARR_UHD_APIKEY}
    - Radarr:
        - Radarr:
            href: https://radarr.idahobealefamily.com
            icon: radarr.png
            description: Movies
            widget:
              type: radarr
              url: http://radarr.media.svc.cluster.local.:7878
              key: ${RADARR_APIKEY}
        - Radarr Anime:
            href: https://radarranime.idahobealefamily.com
            icon: radarr.png
            description: Anime Movies
            widget:
              type: radarr
              url: http://radarranime.media.svc.cluster.local.:7878
              key: ${RADARR_ANIME_APIKEY}
        - Radarr UHD:
            href: https://radarruhd.idahobealefamily.com
            icon: radarr.png
            description: UHD Movies
            widget:
              type: radarr
              url: http://radarruhd.media.svc.cluster.local.:7878
              key: ${RADARR_UHD_APIKEY}
    - Prowlarr:
        href: https://prowlarr.idahobealefamily.com
        icon: prowlarr.png
        description: Indexer Manager
        widget:
          type: prowlarr
          url: http://prowlarr.media.svc.cluster.local.:9696
          key: ${PROWLARR_APIKEY}
    - Seerr:
        href: https://seerr.idahobealefamily.com
        icon: jellyseerr.png
        description: Request Manager
        widget:
          type: jellyseerr
          url: http://seerr.media.svc.cluster.local.:5055
          key: ${SEERR_API_KEY}
    - Tautulli:
        href: https://tautulli.idahobealefamily.com
        icon: tautulli.png
        description: Plex Monitoring
        widget:
          type: tautulli
          url: http://tautulli.media.svc.cluster.local.:8181
          key: ${TAUTULLI_API_KEY}
- Downloads:
    - Sabnzbd:
        href: https://sabnzbd.idahobealefamily.com
        icon: sabnzbd.png
        description: Usenet Downloader
        widget:
          type: sabnzbd
          url: http://sabnzbd.media.svc.cluster.local.:8080
          key: ${SABNZBD_API_KEY}
    - qBittorrent:
        href: https://qbittorrent.idahobealefamily.com
        icon: qbittorrent.png
        description: Torrent Downloader
        widget:
          type: qbittorrent
          url: http://qbittorrent.downloads.svc.cluster.local.:8080
- Monitoring:
    - Grafana:
        href: https://grafana.idahobealefamily.com
        icon: grafana.png
        description: Monitoring Dashboard
        widget:
          type: grafana
          url: http://grafana.monitoring.svc.cluster.local.:3000
          username: ${GRAFANA_ADMIN_USER}
          password: ${GRAFANA_ADMIN_PASSWORD}
    - Prometheus:
        href: https://prometheus.idahobealefamily.com
        icon: prometheus.png
        description: Monitoring Metrics
        widget:
          type: prometheus
          url: http://prometheus-operated.monitoring.svc.cluster.local.:9090
- Storage:
    - TrueNAS:
        href: https://truenas.idahobealefamily.com
        icon: truenas.png
        description: TrueNAS Storage
        widget:
          type: truenas
          url: https://truenas.idahobealefamily.com
          version: 2
          key: ${TRUENAS_AUDIT_API_KEY}
    - Rook-Ceph:
        href: https://rook.idahobealefamily.com
        icon: rook-ceph.png
        description: Rook-Ceph Storage Dashboard
- Networking:
    - Omada:
        href: https://${SVC_OMADA_ADDRESS}:8043
        icon: omada.png
        description: Omada Controller
        widget:
          type: omada
          url: https://${SVC_OMADA_ADDRESS}:8043
          username: ${OMADA_ADMIN_USER}
          password: ${OMADA_ADMIN_PASSWORD}
          site: home
    - pfSense:
        href: https://pfsense.idahobealefamily.com:10443
        icon: pfsense.png
        description: pfSense Firewall
        widget:
          type: pfsense
          url: https://pfsense.idahobealefamily.com:10443
          headers:
            X-API-Key: ${PFSENSE_API_KEY}
          wan: ix0
          version: 2
          fields:
            - load
            - memory
            - wanStatus
    - Cloudflared:
        href: https://dash.cloudflare.com/
        icon: cloudflare-zero-trust.png
        description: Cloudflared Tunnel
        widget:
          type: cloudflared
          accountid: ${CLOUDFLARE_ACCOUNT_ID}
          tunnelid: ${CLOUDFLARE_TUNNEL_ID}
          key: ${CLOUDFLARE_HOMEPAGE_API_TOKEN}
    - Cisco CBS350:
        href: https://cisco-cbs350.idahobealefamily.com
        icon: si-cisco
        description: "Cisco CBS350 Switch Management"
- Infrastructure:
    - Proxmox:
        href: https://proxmox.idahobealefamily.com:8006
        icon: proxmox.png
        description: Proxmox VE
        widget:
          type: proxmox
          url: https://proxmox.idahobealefamily.com:8006
          username: ${PROXMOX_TOKEN_ID}
          password: ${PROXMOX_TOKEN_SECRET}
