---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app radarr
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          *app :
            image:
              repository: ghcr.io/home-operations/radarr
              tag: 6.0.4.10291@sha256:73fbdba72dcde5fec16264e63a9daba7829b5c2806a75615463a67117b100de3

            env:
              TZ: America/Boise
              RADARR__APP__INSTANCENAME: Radarr
              RADARR__APP__THEME: dark
              RADARR__AUTH__METHOD: External
              RADARR__AUTH__REQUIRED: DisabledForLocalAddresses
              RADARR__AUTH__APIKEY: ${RADARR_APIKEY}
              RADARR__SERVER__PORT: &port 7878
              RADARR__LOG__LEVEL: info
              RADARR__UPDATE__BRANCH: develop

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - "ALL"

            resources:
              requests:
                cpu: 100m
              limits:
                memory: 4Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port

    route:
      *app :
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.idahobealefamily.com"

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"

      tmpfs:
        type: emptyDir
        advancedMounts:
          *app :
            *app :
              - path: /config/logs
                subPath: logs
              - path: /tmp
                subPath: tmp

      media:
        type: nfs
        server: truenas.idahobealefamily.com
        path: /mnt/storage1/data
        globalMounts:
          - path: /media

      backup:
        type: nfs
        server: truenas.idahobealefamily.com
        path: /mnt/storage0/backup
        globalMounts:
          - path: /backup
            subPath: "{{ .Release.Name }}"
