---
image:
  repository: quay.io/cilium/cilium
  tag: v1.13.2
  pullPolicy: IfNotPresent

kubeProxyReplacement: "strict"

k8sServiceHost: 192.168.20.254
k8sServicePort: 6443

extraConfig:
  enable-envoy-config: "true"

autoDirectNodeRoutes: true

nodePort:
  enabled: true
  range: "30000,32767"

containerRuntime:
  integration: containerd

endpointRoutes:
  enabled: false

enableIPv4Masquerade: true

enableIPv6Masquerade: true

masquerade: true

ipam:
  mode: "kubernetes"
  operator:
    clusterPoolIPv4PodCIDRList: ["10.42.0.0/16"]
    clusterPoolIPv4MaskSize: 24
    clusterPoolIPv6PodCIDRList: ["fd00::/104"]
    clusterPoolIPv6MaskSize: 120

bgp:
  enabled: false
  announce:
    loadbalancerIP: true

hubble:
  enabled: true
  metrics:
    enabled:
      - dns:query;ignoreAAAA
      - drop
      - tcp
      - flow
      - port-distribution
      - icmp
      - http
  listenAddress: ':4244'
  relay:
    enabled: true
    image:
      repository: quay.io/cilium/hubble-relay
      tag: v1.13.1
    rollOutPods: true
  ui:
    enabled: true
    rollOutPods: true

ipv6:
  enabled: false

kubeProxyReplacementHealthzBindAddr: '0.0.0.0:10256'

prometheus:
  enabled: true
  port: 9090
  serviceMonitor:
    enabled: false

operator:
  rollOutPods: true
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: false

ipv4NativeRoutingCIDR: 10.42.0.0/16

tunnel: disabled

LoadBalancer:
  algorithm: meglev
  mode: hybrid

disableEnvoyVersionCheck: false

Cluster:
  name: betty
  id: 0

clustermesh:
  useAPIServer: false
  apiserver:
    image:
      repository: quay.io/cilium/clustermesh-apiserver
      tag: v1.13.1@sha256:84d386e6025b44125110547b853f166130407301362750235c90163aefc6ac3c
    etcd:
      image:
        repository: quay.io/coreos/etcd
        tag: v3.5.7@sha256:7238b08a6bad494e84ed1c632a62d39bdeed1f929950a05c1a32b6d4490a0047
        pullPolicy: IfNotPresent

rollOutCiliumPods: true

externalIPs:
  enabled: true

hostPort:
  enabled: false

hostServices:
  enabled: true
  protocols: tcp,udp

debug:
  enabled: false

securityContext:
  privileged: true
