---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: vpn-gateway
  namespace: vpn
spec:
  interval: 15m
  chart:
    spec:
      chart: pod-gateway
      version: 5.6.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 15m
  values:
    image:
      repository: ghcr.io/angelnu/pod-gateway
      tag: v1.8.1@sha256:690b6365728fe9012ad4cdfca38334992664596513dca187d1b93d2025205776

    additionalContainers:
      gluetun:
        image: qmcgaw/gluetun:v3.32.0@sha256:70e2b9fe66941d6de31419c3207b525293f2e6a92a3788869bb337a17e0e5ec8

        env:
          - name: VPN_TYPE
            value: wireguard
          - name: VPN_INTERFACE
            value: wg0
          - name: FIREWALL
            value: "off"
          - name: DOT
            value: "off"
          - name: HEALTH_TARGET_ADDRESS
            value: "1.1.1.1"
          - name: HEALTH_VPN_DURATION_INITIAL
            value: 30s

        envFrom:
          - secretRef:
              name: vpnconfig

        securityContext:
          capabilities:
            add:
              - NET_ADMIN

    addons:
      netshoot:
        enabled: true

    podAnnotations:
      configmap.reloader.stakater.com/reload: vpn-gateway-pod-gateway
      secret.reloader.stakater.com/reload: vpnconfig

    routed_namespaces:
      - downloads

    DNS: 172.16.0.1

    settings:
      VPN_INTERFACE: wg0
      VXLAN_ID: 43
      VXLAN_IP_NETWORK: 172.16.0
      VXLAN_GATEWAY_FIRST_DYNAMIC_IP: 20
      VPN_BLOCK_OTHER_TRAFFIC: true
      VPN_TRAFFIC_PORT: "51820"
      VPN_LOCAL_CIDRS: "10.0.0.0/8 192.168.0.0/16 172.16.0.0/12"
      NOT_ROUTED_TO_GATEWAY_CIDRS: "10.0.0.0/8 192.168.0.0/16 172.16.0.0/12"

    publicPorts:
      - hostname: qbittorrent
        IP: 10
        ports:
          - type: tcp
            port: ${VPN_FORWARD_PORT_1}
          - type: udp
            port: ${VPN_FORWARD_PORT_1}

    webhook:
      gatewayAnnotation: setGateway
      gatewayDefault: false
      gatewayLabel: setGateway
      namespaceSelector:
        label: "vpn-routed-gateway"
      image:
        repository: ghcr.io/angelnu/gateway-admision-controller
        tag: v3.7.0@sha256:985eb60fd0017f657d5e66707f7e9b3f764f3337a87a379d26cd15e950bd79ad
