---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: databases-namespace
  namespace: flux-system
spec:
  interval: 5m
  path: "./k8s/namespaces/clusters/base/databases"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: home-cluster
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: databases-postgres
  namespace: flux-system
spec:
  interval: 5m
  path: "./k8s/namespaces/clusters/base/databases/postgres"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: home-cluster
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  dependsOn:
    - name: databases-namespace
      namespace: flux-system
  postBuild:
    substitute: {}
    substituteFrom:
      - kind: ConfigMap
        name: cluster-config
      - kind: ConfigMap
        name: global-config
      - kind: Secret
        name: cluster-secrets
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: databases-postgres-cluster
  namespace: flux-system
spec:
  interval: 5m
  path: "./k8s/namespaces/clusters/base/databases/postgres/cluster"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: home-cluster
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  dependsOn:
    - name: databases-postgres
      namespace: flux-system
  postBuild:
    substitute: {}
    substituteFrom:
      - kind: ConfigMap
        name: cluster-config
      - kind: ConfigMap
        name: global-config
      - kind: Secret
        name: cluster-secrets
