---
machine:
  type: controlplane
  # ca merges as a unit; crt must be repeated alongside key
  ca:
    crt: {{ certs.os.crt }}
    key: {{ certs.os.key }}
cluster:
  # ca merges as a unit; crt must be repeated alongside key
  ca:
    crt: {{ certs.k8s.crt }}
    key: {{ certs.k8s.key }}
  aggregatorCA:
    crt: {{ certs.aggregator.crt }}
    key: {{ certs.aggregator.key }}
  etcd:
    advertisedSubnets:
      - 192.168.20.0/24
    ca:
      crt: {{ certs.etcd.crt }}
      key: {{ certs.etcd.key }}
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
  serviceAccount:
    key: {{ certs.serviceaccount.key }}
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  node-role.kubernetes.io/control-plane: ""
---
apiVersion: v1alpha1
kind: KubeAPIServerConfig
certExtraSANs:
  - k8s.internal
extraArgs:
  enable-aggregator-routing: "true"
  feature-gates: MutatingAdmissionPolicy=true,HPAScaleToZero=true
  runtime-config: admissionregistration.k8s.io/v1beta1=true
image: registry.k8s.io/kube-apiserver:{{ ENV.K8S_VERSION }}
---
apiVersion: v1alpha1
kind: KubeAuditPolicyConfig
configuration:
  apiVersion: audit.k8s.io/v1
  kind: Policy
  rules:
    - level: RequestResponse
---
apiVersion: v1alpha1
kind: KubeAuthenticationConfig
configuration:
  anonymous:
    conditions:
      - path: /livez
      - path: /readyz
      - path: /healthz
    enabled: true
  jwt: []
---
apiVersion: v1alpha1
kind: KubeAuthorizerConfig
name: node
type: Node
---
apiVersion: v1alpha1
kind: KubeAuthorizerConfig
name: rbac
type: RBAC
---
apiVersion: v1alpha1
kind: KubeControllerManagerConfig
extraArgs:
  bind-address: 0.0.0.0
  feature-gates: HPAScaleToZero=true
image: registry.k8s.io/kube-controller-manager:{{ ENV.K8S_VERSION }}
---
apiVersion: v1alpha1
kind: KubeCoreDNSConfig
enabled: false
---
apiVersion: v1alpha1
kind: KubeEtcdEncryptionConfig
config:
  resources:
    - providers:
        - secretbox:
            keys:
              - name: key2
                secret: {{ secrets.secretboxencryptionsecret }}
        - identity: {}
      resources:
        - secrets
---
apiVersion: v1alpha1
kind: KubeProxyConfig
enabled: false
image: registry.k8s.io/kube-proxy:{{ ENV.K8S_VERSION }}
---
apiVersion: v1alpha1
kind: KubeSchedulerConfig
config:
  profiles:
    - schedulerName: default-scheduler
      plugins:
        score:
          disabled:
            - name: ImageLocality
      pluginConfig:
        - name: PodTopologySpread
          args:
            defaultingType: List
            defaultConstraints:
              - maxSkew: 1
                topologyKey: kubernetes.io/hostname
                whenUnsatisfiable: ScheduleAnyway
extraArgs:
  bind-address: 0.0.0.0
image: registry.k8s.io/kube-scheduler:{{ ENV.K8S_VERSION }}
---
apiVersion: v1alpha1
kind: KubeTalosAPIAccessConfig
allowedRoles:
  - os:admin
allowedKubernetesNamespaces:
  - system
  - system-upgrade
