---
machine:
  type: worker
---
apiVersion: v1alpha1
kind: RawVolumeConfig
name: miroir-slow
provisioning:
  diskSelector:
    match: disk.dev_path  == "/dev/sdc"
  grow: true
  minSize: 1GiB
---
apiVersion: v1alpha1
kind: KubeAPIServerCAConfig
acceptedCAs:
  - |
{{ certs_pem.k8s.crt | indent(width=6, first=true) }}
