---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homepage
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      *app :
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"

        serviceAccount:
          identifier: *app

        containers:
          *app :
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: v1.7.0@sha256:b6ac42c31845ea7c862d71451c16413a6284430d8ff08e16ad791f42718a7c71

            env:
              TZ: America/Boise
              HOMEPAGE_ALLOWED_HOSTS: "{{ .Release.Name }}.idahobealefamily.com"

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 15m
                memory: 200M
              limits:
                memory: 2G

    service:
      *app :
        controller: *app
        ports:
          http:
            port: &port 3000

    serviceAccount:
      *app : {}

    route:
      *app :
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.idahobealefamily.com"
        rules:
          - backendRefs:
              - identifier: *app
                port: *port

    persistence:
      config:
        type: configMap
        name: homepage-config
        globalMounts:
          - subPath: bookmarks.yaml
            path: /app/config/bookmarks.yaml
          - subPath: docker.yaml
            path: /app/config/docker.yaml
          - subPath: kubernetes.yaml
            path: /app/config/kubernetes.yaml
          - subPath: services.yaml
            path: /app/config/services.yaml
          - subPath: settings.yaml
            path: /app/config/settings.yaml
          - subPath: widgets.yaml
            path: /app/config/widgets.yaml

      tmpfs:
        type: emptyDir
        advancedMounts:
          *app :
            *app :
              - path: /app/config/logs
                subPath: logs
              - path: /tmp
                subPath: tmp
